:root {
  --primary: #efeada;
  --secondary: lightblue;
  --dark: #607d8b;
  --light: #f7f7f7;
  --shadow: 1px 0px 5px darkgray;
}

html { font-size: 22px; }

.form-action input {
  padding: 0.375rem 0.5rem;
}
