.trademark {
  font-weight: bold;
  text-decoration: none;
  margin: 1rem 0;
}

.show_warning {
  display: block;
}

.hide_warning {
  display: none;
}

.warning-text {
  text-align: center
}

.loading-screen-wrapper {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
}
.nounderline {
  text-decoration: none;
}

@media only screen and (min-width: 780px)  {
  .search-button {
    margin-right: 5px;
  }
}
